/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        row-gpios = <&gpio1 031 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio1 029 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio1 002 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio1 115 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

        col-gpios = <&gpio0 017 GPIO_ACTIVE_HIGH>,
                    <&gpio0 020 GPIO_ACTIVE_HIGH>,
                    <&gpio0 022 GPIO_ACTIVE_HIGH>,
                    <&gpio1 024 GPIO_ACTIVE_HIGH>,
                    <&gpio1 100 GPIO_ACTIVE_HIGH>,
                    <&gpio1 011 GPIO_ACTIVE_HIGH>,
                    <&gpio0 104 GPIO_ACTIVE_HIGH>,
                    <&gpio0 106 GPIO_ACTIVE_HIGH>,
                    <&gpio0 009 GPIO_ACTIVE_HIGH>,
                    <&gpio0 010 GPIO_ACTIVE_HIGH>
        ;
    };
};
